.containerNotificationItem {
  width: 1075px;
  height: 77px;
  left: 56px;
  top: 117px;
  background: var(--color-secondary-80);
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}


.containerNotificationItem span {
  font-size: 1.2rem;
  font-weight: 600;
}

.containerNotificationItem h3 {
    margin-left: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.containerConsultaItem .hour {
    margin-right: 5rem;
}
@media screen and (max-width: 1000px) {
  .containerNotificationItem {
    width: 111%;
  }
  .containerNotificationItem h3 {
    font-size: 1em;
  }
}