.containerCreateProfileUser {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.containerCreateProfileUser > a {
  position: absolute;
  align-self: flex-start;
  z-index: 1;
}

.containerCreateProfileUser > div{
  position: relative;
}

.containerCreateProfileUser span img {
  position: absolute;
  bottom: 8px;
  right: 13px;
  cursor: pointer;
}

